@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5; /* Background color for the entire page */
}

.resume_wrapper {
    display: flex;
}

.resume_bottom {
    flex: 2;
    padding: 20px;
}

/* Styles for the header section */
.resume_namerole {
    text-align: center;
    margin-bottom: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #3498db; /* Text color for the name */
}

.role {
    font-size: 18px;
    color: #666;
}

/* Styles for the profile section */
.resume_profile {
    margin-bottom: 20px;
}

.resume_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3498db; /* Text color for titles */
}

.resume_info {
    font-size: 16px;
    line-height: 1.5;
    color: #555; /* Text color for content */
}

/* Styles for the address and contact sections */
.resume_address,
.resume_contact {
    margin-bottom: 20px;
}

.resume_subtitle {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Styles for the skills section */
.resume_skills {
    margin-bottom: 20px;
}

.skills_list {
    margin-bottom: 10px;
}

.skills_left {
    font-weight: bold;
    margin-bottom: 5px;
    color: #3498db; /* Text color for skill names */
}
.box{ 
  color: #2ecc71;  
}
.skills_bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 3px;
}

/* Colored shades for skills */
.skills_bar span {
    display: block;
    height: 90%;
    border-radius: 3px;
}
.skills_bar {
    background-color: #e0e0e0;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.skills_bar span {
    display: block;
    height: 100%;
    border-radius: 5px;
    background-color: #3498db;
}

.skills_left:nth-child(odd) .skills_bar span {
    background-color:fuchsia; /* Color shade for odd-numbered skills */
}

.skills_left:nth-child(even) .skills_bar span {
    background-color: #2ecc71; /* Color shade for even-numbered skills */
}
.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span{	
	position: absolute;
	top: 1;
	left: 2;
	background: #0175b2;
	width: 90%;
	height: 90%;
}
/* Styles for the education, experience, and interests sections */
.resume_education,
.resume_experience,
.resmue_interests {
    margin-bottom: 20px;
}
.resmue_interests {
    margin-top: 20px;
}

.interests {
    display: flex;
    align-items: center;
}

.int_icon {
    margin-right: 10px;
}

.int_icon i {
    font-size: 1.5em;
    color: #3498db;
}

.year {
    font-weight: bold;
    margin-bottom: 5px;
    color: #3498db; /* Text color for years */
}

/* Responsive styles */
@media (max-width: 768px) {
    .resume_wrapper {
        flex-direction: column;
    }
}
